* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Tahoma, sans-serif;
}
.main-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.left-container {
  grid-column: 1/2;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
}
.right-container {
  grid-column: 2/7;
  /* border: 2px solid blue; */
  background-color: #edeff0;
}
.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 2px solid red; */
  padding: 0.8rem;
  box-shadow: 0px 3px 6px #00000029;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  /* border: 2px solid red; */
}
.search {
  position: absolute;
  top: 7px;
  right: 7rem;
}
.input {
  /* width: 80%; */
  padding: 0.4rem 1.5rem;
  border-radius: 8rem;
  outline: none;
  border: 2px solid #ccc;
}
.activities {
  /* border: 2px solid green; */
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.activity-1,
.activity-2,
.activity-3 {
  /* border: 2px solid blue; */
  padding: 4rem;
  width: 17rem;
  margin: 1rem, 2rem;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 3px 6px #00000029;
}
.result {
  margin: 2rem auto;
  width: 94%;
  /* height: 200px; */
  background-color: #fff;
  /* border: 2px solid brown; */
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th {
  background-color: #000;
  color: #fff;
  /* border-top-left-radius: 8px;
  border-top-right-radius: 8px; */
}
td,
th {
  /* border: 1px solid #dddddd; */
  text-align: left;
  padding: 8px;
}

.learn-more {
  position: relative;
  border-radius: 8px;
  margin: 2rem auto;
  width: 94%;
  height: 226px;
  padding: 2.5rem 3.5rem;
  /* border: 2px solid orange; */
  background-color: #000;
}
.learn-more-text {
  /* border: 2px solid red; */
  width: 80%;
  color: #fff;
}
.learn-more-text h1 {
  font-size: 42px;
  font-weight: 400;
  padding-bottom: 0.8rem;
}
.learn-more-btn {
  border-radius: 8rem;
  border: none;
  outline: none;
  color: rgb(179, 50, 50);
  padding: 0.4rem 0.9rem;
  margin: 1.5rem 0.1rem;
}
.female-img {
  position: absolute;
  top: -35px;
  right: -30px;
}
.logo {
  padding: 1.4rem;
}
.side-bar-item-cont {
  display: flex;
  flex-direction: column;
  color: #fff;
  /* gap: 4rem; */
}
.side-bar-items {
  /* border: 2px solid purple; */
  /* margin: 0 auto; */
  margin-bottom: 5px;
  height: 50px;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  background-color: #000;
}
.upgrade-container {
  margin-top: 8rem;
  /* border: 2px solid yellowgreen; */
  display: flex;
  flex-direction: column;
}
.upgrade-inner-container {
  margin: 0 auto;
  background-color: hsla(0, 1%, 68%, 0.235);
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 90%;
  border-radius: 8px;
  margin-bottom: 2rem;
}
.upgrade-text {
  margin-bottom: 0.8rem;
}
.upgrade-btn {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 0.8rem;
  border: none;
  border-radius: 8px;
  background-color: rgb(158, 1, 158);
  padding: 0.5rem 0.8rem;
}
